In [1]:
import pandas as pd

In [3]:
#Creating a dataset
data = {'Name' : ['Alice', 'Bob', 'Charlie'],
        'Favorite_color': ['Red', 'Blue', 'Green']}

In [9]:
df = pd.DataFrame(data)
print("Original Data")
df

Original Data

      Name Favorite_color
0    Alice            Red
1      Bob           Blue
2  Charlie          Green

In [15]:
#Convert "Favorite_Color" into Dummy Variables
df_dummy = pd.get_dummies(df, columns=['Favorite_color'])
#Apply .astype(int) only to dummy columns

dummy_columns = df_dummy.columns.difference(['Name'])
df_dummy[dummy_columns] = df_dummy[dummy_columns].astype(int)
df_dummy

      Name  Favorite_color_Blue  Favorite_color_Green  Favorite_color_Red
0    Alice                    0                     0                   1
1      Bob                    1                     0                   0
2  Charlie                    0                     1                   0

In [17]:
merged = pd.contact([df, df_dummy], axis = 1)

AttributeError: module 'pandas' has no attribute 'contact'