In [3]:
import numpy as np # data manipulation
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [21]:
# Create a new dataset

data_multi = {
    'Size' : [1,2,3,4,5,6],
    'Color' : ['Red', 'Yellow', 'Red', 'Yellow', 'Orange', 'Orange'],
    'Fruit': ['Apple', 'Banana', 'Apple', 'Banana', 'Orange', 'Orange']
}

In [23]:
#Create a DataFrame
df_multi = pd.DataFrame(data_multi)
df_multi

   Size   Color   Fruit
0     1     Red   Apple
1     2  Yellow  Banana
2     3     Red   Apple
3     4  Yellow  Banana
4     5  Orange  Orange
5     6  Orange  Orange

In [25]:
# convert categorical variable 'Color' to numbers
df_multi['Color'] = df_multi['Color'].map({'Red' : 1, 'Yellow': 2, 'Orange' : 3})
df_multi

   Size  Color   Fruit
0     1      1   Apple
1     2      2  Banana
2     3      1   Apple
3     4      2  Banana
4     5      3  Orange
5     6      3  Orange

In [31]:
#Features and labels
X_multi = df_multi[['Size', 'Color']] # Features (Size and Color)
y_mulit = df_multi['Fruit'] # this is called Target(fruit)

In [ ]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X_multi, y_multi, test_size = 0.3,random_state=42)